<div class="notebook">
  <h1>{{notebook.title}}</h1>
  <div class="notebook__body">
    <div class="notebook__img-box inline-block">
      <img src="{{notebook.img}}" alt="{{notebook.title}}" />
    </div>
    <div class="notebook__information inline">
      <p class="notebook__descrtiption">{{notebook.descr}}</p>
      <b class="price big notebook__price">{{notebook.price}}</b>
    </div>
  </div>
</div>