<h4>Edit Notebook {{notebook.title}}</h4>

<form action="/notebooks/edit" method="POST" class="z-depth-4 f_control">
  <div class="input-field">
    <input
      type="text"
      id="title"
      name="title"
      class="validate"
      required
      value="{{notebook.title}}"
    />
    <label for="title">Notebooks model</label>
    <span class="helper-text" data-error="Enter Notebooks Name"></span>
  </div>
  <div class="input-field">
    <input
      type="number"
      id="price"
      name="price"
      class="validate"
      min="1"
      required
      value="{{notebook.price}}"
    />
    <label for="price">Price</label>
    <span class="helper-text" data-error="Enter Price"></span>
  </div>
  <div class="input-field">
    <input
      type="text"
      id="img"
      name="img"
      class="validate"
      required
      value="{{notebook.img}}"
    />
    <label for="img">Url Image</label>
    <span class="helper-text" data-error="Enter URL Image"></span>
  </div>
  <div class="input-field">
    <textarea
      id="descr"
      name="descr"
      class="materialize-textarea"
      required
    >{{notebook.descr}}</textarea>
    <label for="descr">Description</label>
    <span class="helper-text" data-error="Enter Description"></span>
  </div>
  <input type="hidden" name="id" value="{{notebook.id}}">
  <button class="btn btn-primary f_control_btn">Edit Notebook</button>
</form>